<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="protego.com.protegomaximus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

        <activity
            android:name=".App"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="protego.com.protego.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EvaluateMain"
            android:label="Evaluate Model" >
            <intent-filter>
                <action android:name="protego.com.protego.EVALUATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DisplayDataset"
            android:label="@string/title_activity_display_dataset" >
        </activity>

        <activity
            android:name=".DisplayModel"
            android:label="@string/title_activity_display_model" >
        </activity>

        <activity
            android:name=".DisplayLog"
            android:label="@string/title_activity_display_log" >
        </activity>

        <activity
            android:name=".DisplayExtractedFeatures"
            android:label="@string/title_activity_display_extracted_features" >
        </activity>

        <service android:name=".ProcessDataService" />
    </application>

</manifest>